/* Основные стили для body */
body {
    background-color: #0D0D0D;
    color: #00BFFF;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin: 10px;
    padding: 20px;
}

/* Стили для header */
header {
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    background-color: #1A1A1A;
    box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5);
}

/* Стили для заголовка h1 */
h1 {
    font-family: 'Orbitron', sans-serif;
    color: #00BFFF;
    margin: 10px;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 191, 255, 0.7);
}

/* Стили для ссылок */
a {
    font-family: 'Orbitron', sans-serif;
    color: #00BFFF;
    margin: 10px;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.7);
}

/* Стили для кнопок */
.custom-button {
    background-color: #00BFFF;
    color: black;
    text-align: center;
    margin: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #007FFF;
}

/* Стили для часов */
#clock {
    font-size: 32px;
    color: #00BFFF;
    text-align: center;
    margin-top: 20px;
}
